{% extends 'base.html' %}
{% load static %}

{% block title %}
    About me
{% endblock %}

{% block css_file %}
    <link rel='stylesheet' href="{% static 'main/about.css' %}">
{% endblock %}

{% block content %}
<h1 class="title">Hey there!</h1>
<div class="content">
    <div class="col-sm-4 story">
        <h1>My story</h1>
        <p>Hi, my name is Alex. I graduated from law academy and I have been working as a Russian and English
            teacher.
            It has given me lots of experience of communication with students from all over the world. When I have
            some
            spare time, I have been developing my passion with Python.
        </p>
    </div>
    <div class="col-sm-4 skills">
        <h1>My skills</h1>
        <h3>Backend</h3>
        <p>
        {% for i in backend %}
            {% if not forloop.last %}{{ i }},{% else %}{{ i }}{% endif %}
        {% endfor %}
        </p>
        <h3>Frontend</h3>
        <p>
        {% for i in frontend %}
            {% if not forloop.last %}{{ i }},{% else %}{{ i }}{% endif %}
        {% endfor %}    
        </p>
        <h3>Databases</h3>
        <p>
        {% for i in databases %}
            {% if not forloop.last %}{{ i }},{% else %}{{ i }}{% endif %}
        {% endfor %}
        </p>
        <h3>DevOps</h3>
        <p>
        {% for i in devops %}
            {% if not forloop.last %}{{ i }},{% else %}{{ i }}{% endif %}
        {% endfor %}
        </p>
    </div>
    <div class="col-sm-4 education">
        <h1>My education</h1>
        {% for item in degrees %}
            <p>{{ item.id }}. {{ item.degree }} from {{ item.organization }} ({{ item.period }})</p>
        {% endfor %}
    </div>
</div>
{% endblock %}